sudo->sudo echo "sudo"

start {}->sudo systemctl start {}
status {}->systemctl statis {}
stop {}->sudo systemctl stop {}

new->vi ~/.wilsonrc

edit->vi ~/.local/bin/wilson

clear->clear

help->cat ~/.wilsonrc

say hi->echo "Hi my name is wilson"
